.card
  .card-header
    %h2 User

  .card-content
    %p
      %strong Name:
      #{@user.name if @user.name}

    - if current_user.admin?
      %p
        %strong Email:
        #{@user.email if @user.email}

    %p
      %strong Role:
      #{@user.role if @user.role}
